### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [61]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [62]:
unique_players = purchase_data["SN"].unique()
print("Total Players: "+str(unique_players.size))

Total Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [63]:
import statistics;
import locale;

avg = statistics.mean(purchase_data["Price"])
total_revenue = purchase_data["Price"].sum()

locale.setlocale( locale.LC_ALL, '' )

purchase_analysis = pd.DataFrame({
    "Number of Unique Items":[purchase_data["Item ID"].unique().size],
    "Average Price":[locale.currency(avg)],
    "Number of Purchases":[purchase_data["Purchase ID"].size],
    "Total Revenue":[locale.currency(total_revenue, grouping=True)]
})

purchase_analysis.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [64]:
#this will get the correct answer, but the code is rather a mess.  Check the next cell for a more elegant solution.
total = 0
numM = 0
numF = 0
numI = 0

for player in unique_players:
    found = False
    for i in range(len(purchase_data["SN"])): 
        if (not found):
            if (purchase_data["SN"][i] == player):
                if (purchase_data["Gender"][i] == "Male"):
                    numM += 1
                elif (purchase_data["Gender"][i] == "Female"):
                    numF += 1
                else:
                    numI += 1
                found = True

total = numM + numF + numI
print(total)

data = {'Total Count': [numM, numF,numI], 
        'Percentage of Players': ["{0:.2f}".format(numM/total*100), "{0:.2f}".format(numF/total*100),"{0:.2f}".format(numI/total*100)]}

gender_demographics = pd.DataFrame(data,index = ['Male','Female','Other'])
gender_demographics.head()

576

        Total Count Percentage of Players
Male            484                 84.03
Female           81                 14.06
Other            11                  1.91

In [65]:
#more elegant solution
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.sort_values("SN", inplace = True)
purchase_data.drop_duplicates(subset ="SN", keep="last",inplace=True)

count = purchase_data["Gender"].value_counts()

numM = count["Male"]
numF = count["Female"]
numI= count["Other / Non-Disclosed"]
total = numM + numF + numI

data = {'Total Count': [numM, numF,numI], 
        'Percentage of Players': ["{0:.2f}".format(numM/total*100), "{0:.2f}".format(numF/total*100),"{0:.2f}".format(numI/total*100)]}

gender_demographics = pd.DataFrame(data,index = ['Male','Female','Other'])
gender_demographics.head()

        Total Count Percentage of Players
Male            484                 84.03
Female           81                 14.06
Other            11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [66]:
def find_gender_params(gender, numG):
    gender_data = {}    
    
    gd = purchase_data.loc[purchase_data["Gender"] == gender, :]
    gender_data["Purchase Count"] = len(list(gd["Price"]))
    avg = locale.currency(statistics.mean(list(gd["Price"])))
    gender_data["Average Purchase Price"] = locale.currency(statistics.mean(list(gd["Price"])))
    gender_data["Total Purchase Value"] = locale.currency(sum(list(gd["Price"])))
    gender_data["Avg Total Purchase per Person"] = locale.currency(sum(list(gd["Price"]))/numG)
    
    return gender_data
 

import statistics
import locale
locale.setlocale( locale.LC_ALL, '' )
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

gender_stats = [find_gender_params("Female", numF), find_gender_params("Male", numM), find_gender_params("Other / Non-Disclosed", numI)]

gender_stats_df = pd.DataFrame(gender_stats, index = ['Male','Female','Other / Non-Disclosed'])
gender_stats_df.head()

,Average Purchase Price,Avg Total Purchase per Person,Purchase Count,Total Purchase Value
Male,$3.20,$4.47,113,$361.94
Female,$3.02,$4.07,652,$1967.64
Other / Non-Disclosed,$3.35,$4.56,15,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [67]:

agesbins = [0,10,15,20,25,30,35,40,1000]
ageslabels = ["<10","10-14","15-19","20-24","35-39","25-29","30-34","40+"]

demo_data = purchase_data.copy()
demo_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [71]:
demo_data.drop_duplicates(subset=['SN'],keep = False, inplace = True)
demo_data["Age Demo"] = pd.cut(demo_data["Age"], agesbins, labels=ageslabels)
demo_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demo
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,30-34
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,30-34
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,15-19
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,35-39
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,15-19
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,15-19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35-39
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,30-34
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,<10
34,34,Sondim73,19,Male,160,Azurewrath,4.40,15-19
35,35,Jeyciman68,22,Male,53,Vengeance Cleaver,2.05,20-24
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,35-39
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,<10
39,39,Sondilsaya62,21,Male,172,Blade of the Grave,3.14,20-24
40,40,Aerithriaphos45,20,Male,143,Frenzied Scimitar,1.56,15-19
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33,15-19
45,45,Haerith37,23,Male,181,Reaper's Toll,1.66,20-24
46,46,Yasrisu92,27,Male,102,Avenger,3.44,35-39
47,47,Chanuchi25,20,Male,170,Shadowsteel,3.97,15-19
48,48,Asur96,20,Male,138,"Peacekeeper, Wit of Dark Magic",4.74,15-19
51,51,Chanosia34,22,Male,15,Soul Infused Crystal,2.96,20-24
...,...,...,...,...,...,...,...,...
728,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,1.97,40+
729,729,Assylla81,20,Male,74,Yearning Crusher,4.18,15-19
730,730,Aidaira26,30,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35-39
731,731,Eudanu84,22,Female,12,Dawne,1.02,20-24
733,733,Chamiman85,20,Male,66,Victor Iron Spikes,4.40,15-19
736,736,Tyialisti80,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
737,737,Marundi65,22,Male,149,"Tranquility, Razor of Black Magic",1.75,20-24
738,738,Eusur90,36,Male,121,Massacre,1.60,30-34
739,739,Mindirranya33,35,Male,61,Ragnarok,3.87,25-29
741,741,Phiallylis33,19,Male,145,Fiery Glass Crusader,4.58,15-19
742,742,Isty55,20,Male,5,Putrid Fan,4.08,15-19
743,743,Frichilsa31,15,Male,110,Suspension,1.44,10-14
745,745,Chanista95,39,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,30-34
746,746,Aellyria80,23,Male,159,"Oathbreaker, Spellblade of Trials",3.08,20-24
748,748,Rastynusuir31,20,Male,55,Vindictive Glass Edge,2.27,15-19
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,20-24
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,10-14
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,15-19
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,30-34
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,15-19
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,15-19
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,40+
765,765,Irith83,18,Male,130,Alpha,2.07,15-19
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,10-14
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35,15-19
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,15-19
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10

In [72]:
grouped_demo = demo_data.groupby(['Age Demo'])
gd = grouped_demo.count().rename(columns={"Purchase ID": "Total Count"})
gd.head(10)

          Total Count   SN  Age  Gender  Item ID  Item Name  Price
Age Demo
<10                17   17   17      17       17         17     17
10-14              32   32   32      32       32         32     32
15-19             114  114  114     114      114        114    114
20-24             157  157  157     157      157        157    157
35-39              43   43   43      43       43         43     43
25-29              25   25   25      25       25         25     25
30-34              19   19   19      19       19         19     19
40+                 7    7    7       7        7          7      7

In [73]:
list(gd.columns)
for c in list(gd.columns):
    if c != "Total Count":
        del gd[c]

gd['Total Count'].sum()

414

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame