# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [94]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [95]:
student_data = pd.read_csv(student_data_to_load)
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [96]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [97]:
import locale
locale.setlocale( locale.LC_ALL, '' )
district_summary = {}
district_summary["Total Schools"] = len(list(school_data["School ID"]))
district_summary["Total Students"] = total_students = len(list(student_data["Student ID"]))
district_summary["Total Budget"] = locale.currency(school_data["budget"].sum(), grouping=True)
math_score = student_data["math_score"].mean()
district_summary["Average Math Score"] = math_score
reading_score = student_data["reading_score"].mean()
district_summary["Average Reading Score"] = reading_score
pm = student_data.loc[student_data["math_score"] >= 70, :]
district_summary["% Passing Math"] = (len(pm.index) / total_students)*100
pr = student_data.loc[student_data["reading_score"] >= 70, :]
district_summary["% Passing Reading"] = (len(pr.index) / total_students)*100
district_summary["% Overall Passing Rate"] = (math_score + reading_score)/2

district_summary_frame = pd.DataFrame(district_summary, index = [0])
district_summary_frame.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Progress
* **School Name**
* **School Type**
* Total Students
* **Total School Budget**
* Per Student Budget
* Average Math Score
* Average Reading Score
* % Passing Math
* % Passing Reading
* Overall Passing Rate (Average of the above two)

In [98]:
 #   gd = purchase_data.loc[purchase_data["Gender"] == gender, :]
    

school_summary = school_data[["school_name","type","budget"]]
school_summary.set_index("school_name", inplace = True)
school_summary.sort_index()

school_summary.head(15)

                           type   budget
school_name
Huang High School      District  1910635
Figueroa High School   District  1884411
Shelton High School     Charter  1056600
Hernandez High School  District  3022020
Griffin High School     Charter   917500
Wilson High School      Charter  1319574
Cabrera High School     Charter  1081356
Bailey High School     District  3124928
Holden High School      Charter   248087
Pena High School        Charter   585858
Wright High School      Charter  1049400
Rodriguez High School  District  2547363
Johnson High School    District  3094650
Ford High School       District  1763916
Thomas High School      Charter  1043130

In [99]:
##num_kids = pd.DataFrame(list(student_data["school_name"].value_counts()),columns=["total students"])
#num_kids.head()

num_kids = student_data["school_name"].value_counts().to_frame()
#better way to do this?  How to name columns and index?
num_kids=num_kids.rename(columns={'school_name': 'total_students'})
num_kids.index.name = 'school_name'
num_kids.head()

                       total_students
school_name
Bailey High School               4976
Johnson High School              4761
Hernandez High School            4635
Rodriguez High School            3999
Figueroa High School             2949

## Progress
* **School Name**
* **School Type**
* **++Total Students**
* **Total School Budget**
* **++Per Student Budget**
* Average Math Score
* Average Reading Score
* % Passing Math
* % Passing Reading
* Overall Passing Rate (Average of the above two)

In [100]:
#stick total students into school table
merge_table = pd.merge(school_summary, num_kids, on="school_name")

merge_table["Per Student Budget"] = merge_table["budget"]/merge_table["total_students"]
merge_table.head()

                           type   budget  total_students  Per Student Budget
school_name
Huang High School      District  1910635            2917               655.0
Figueroa High School   District  1884411            2949               639.0
Shelton High School     Charter  1056600            1761               600.0
Hernandez High School  District  3022020            4635               652.0
Griffin High School     Charter   917500            1468               625.0

## Progress
* **School Name**
* **School Type**
* **Total Students**
* **Total School Budget**
* **Per Student Budget**
* **++Average Math Score**
* **++Average Reading Score**
* % Passing Math
* % Passing Reading
* Overall Passing Rate (Average of the above two)

In [101]:
#Average Scores by School
def find_scores(school_name, scores_name):
    school_stats = student_data.loc[student_data["school_name"] == school_name, :]
    score = school_stats[scores_name].mean()
    return score

schools = list(merge_table.index)
maths = []
reading = []
for school in schools:
    maths.append(find_scores(school, "math_score"))
    reading.append(find_scores(school, "reading_score"))

merge_table["Average Math Score"] = maths
merge_table["Average Reading Score"] = reading
merge_table.head()

,type,budget,total_students,Per Student Budget,Average Math Score,Average Reading Score
school_name,,,,,,
Huang High School,District,1910635,2917,655.0,76.629414,81.182722
Figueroa High School,District,1884411,2949,639.0,76.711767,81.158020
Shelton High School,Charter,1056600,1761,600.0,83.359455,83.725724
Hernandez High School,District,3022020,4635,652.0,77.289752,80.934412
Griffin High School,Charter,917500,1468,625.0,83.351499,83.816757

## Finished

* **School Name**
* **School Type**
* **Total Students**
* **Total School Budget**
* **Per Student Budget**
* **Average Math Score**
* **Average Reading Score**
* **++% Passing Math**
* **++% Passing Reading**
* **++Overall Passing Rate (Average of the above two)**

In [102]:
#% of kids passing
def kids_passing(school_name,scores_name):
    school_stats = student_data.loc[student_data["school_name"] == school_name, :]
    school_stats_passing = school_stats.loc[school_stats[scores_name] >= 70, :]
    return len(school_stats_passing.index)

schools = list(merge_table.index)
maths_passing = []
reading_passing = []
for school in schools:
    maths_passing.append(kids_passing(school, "math_score"))
    reading_passing.append(kids_passing(school, "reading_score"))

#these are the counts of the kids, not the percentages
merge_table["% Kids Passing Math"] = maths_passing 
merge_table["% Kids Passing Reading"] = reading_passing

#here's the percentage, we just write over it
merge_table["% Kids Passing Math"] = merge_table["% Kids Passing Math"]/merge_table["total_students"] * 100
merge_table["% Kids Passing Reading"] = merge_table["% Kids Passing Reading"]/merge_table["total_students"] * 100


merge_table["% Overall Passing Rate"] = (merge_table["% Kids Passing Reading"] + merge_table["% Kids Passing Math"])/2

merge_table.head()

,type,budget,total_students,Per Student Budget,Average Math Score,Average Reading Score,% Kids Passing Math,% Kids Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Huang High School,District,1910635,2917,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Figueroa High School,District,1884411,2949,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Shelton High School,Charter,1056600,1761,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Hernandez High School,District,3022020,4635,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Griffin High School,Charter,917500,1468,625.0,83.351499,83.816757,93.392371,97.138965,95.265668

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [103]:
merge_table_best = merge_table.sort_values("% Overall Passing Rate", ascending=False)
merge_table_best.head()

,type,budget,total_students,Per Student Budget,Average Math Score,Average Reading Score,% Kids Passing Math,% Kids Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,1081356,1858,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1043130,1635,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,585858,962,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,917500,1468,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,1319574,2283,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [104]:
merge_table_worst = merge_table.sort_values("% Overall Passing Rate", ascending=True)
merge_table_worst.head()

,type,budget,total_students,Per Student Budget,Average Math Score,Average Reading Score,% Kids Passing Math,% Kids Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,2547363,3999,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,1884411,2949,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,1910635,2917,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,3094650,4761,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,1763916,2739,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [105]:
def avg_score (grade,school,score):
    specific_school = student_data.loc[student_data["school_name"] == school, :]
    grade_data = specific_school.loc[specific_school["grade"] == grade, :]
    
    avgscore = grade_data[score].mean()
    return avgscore

schools = list(merge_table.index)
grades = ["9th","10th","11th","12th"]

lists = []
key = ""
tests = ["math_score","reading_score"]

grade_summary_frame = pd.DataFrame(index = schools)

for test in tests:
    for grade in grades:
        gradex = []
        for school in schools:
            #print(school + str(grade) + str(avg_score(grade,school,"math_score")))
                key = str(grade) + " grade "+ test
                gradex.append(avg_score(grade,school,test))
        data_series = pd.Series(gradex, index = schools)
        data_series.rename(key)  # scalar, changes Series.name
        grade_summary_frame[key] = data_series
    

grade_summary_frame.head(15)

,9th grade math_score,10th grade math_score,11th grade math_score,12th grade math_score,9th grade reading_score,10th grade reading_score,11th grade reading_score,12th grade reading_score
Huang High School,77.027251,75.908735,76.446602,77.225641,81.290284,81.512386,81.417476,80.305983
Figueroa High School,76.403037,76.539974,76.884344,77.151369,81.198598,81.408912,80.640339,81.384863
Shelton High School,83.420755,82.917411,83.383495,83.778976,84.122642,83.441964,84.373786,82.781671
Hernandez High School,77.438495,77.337408,77.136029,77.186567,80.866860,80.660147,81.396140,80.857143
Griffin High School,82.044010,84.229064,83.842105,83.356164,83.369193,83.706897,84.288089,84.013699
Wilson High School,83.085578,83.724422,83.195326,83.035794,83.939778,84.021452,83.764608,84.317673
Cabrera High School,83.094697,83.154506,82.765560,83.277487,83.676136,84.253219,83.788382,84.287958
Bailey High School,77.083676,76.996772,77.515588,76.492218,81.303155,80.907183,80.945643,80.912451
Holden High School,83.787402,83.429825,85.000000,82.855422,83.677165,83.324561,83.815534,84.698795
Pena High School,83.625455,83.372000,84.328125,84.121547,83.807273,83.612000,84.335938,84.591160
Wright High School,83.264706,84.010288,83.836782,83.644986,83.833333,83.812757,84.156322,84.073171
Rodriguez High School,76.859966,76.612500,76.395626,77.690748,80.993127,80.629808,80.864811,80.376426
Johnson High School,77.187857,76.691117,77.491653,76.863248,81.260714,80.773431,80.616027,81.227564
Ford High School,77.361345,77.672316,76.918058,76.179963,80.632653,81.262712,80.403642,80.662338
Thomas High School,83.590022,83.087886,83.498795,83.497041,83.728850,84.254157,83.585542,83.831361

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [106]:
#see above

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [107]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]

group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

merge_table_spending = merge_table.copy()
merge_table_spending["Spending Range"] = pd.cut(merge_table_spending["Per Student Budget"], spending_bins, labels=group_names)
merge_table_spending

,type,budget,total_students,Per Student Budget,Average Math Score,Average Reading Score,% Kids Passing Math,% Kids Passing Reading,% Overall Passing Rate,Spending Range
school_name,,,,,,,,,,
Huang High School,District,1910635,2917,655.0,76.629414,81.182722,65.683922,81.316421,73.500171,$645-675
Figueroa High School,District,1884411,2949,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,$615-645
Shelton High School,Charter,1056600,1761,600.0,83.359455,83.725724,93.867121,95.854628,94.860875,$585-615
Hernandez High School,District,3022020,4635,652.0,77.289752,80.934412,66.752967,80.862999,73.807983,$645-675
Griffin High School,Charter,917500,1468,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,$615-645
Wilson High School,Charter,1319574,2283,578.0,83.274201,83.989488,93.867718,96.539641,95.203679,<$585
Cabrera High School,Charter,1081356,1858,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,<$585
Bailey High School,District,3124928,4976,628.0,77.048432,81.033963,66.680064,81.933280,74.306672,$615-645
Holden High School,Charter,248087,427,581.0,83.803279,83.814988,92.505855,96.252927,94.379391,<$585
Pena High School,Charter,585858,962,609.0,83.839917,84.044699,94.594595,95.945946,95.270270,$585-615
Wright High School,Charter,1049400,1800,583.0,83.682222,83.955000,93.333333,96.611111,94.972222,<$585
Rodriguez High School,District,2547363,3999,637.0,76.842711,80.744686,66.366592,80.220055,73.293323,$615-645
Johnson High School,District,3094650,4761,650.0,77.072464,80.966394,66.057551,81.222432,73.639992,$645-675
Ford High School,District,1763916,2739,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,$615-645
Thomas High School,Charter,1043130,1635,638.0,83.418349,83.848930,93.272171,97.308869,95.290520,$615-645

## Scores by School Size

* Perform the same operations as above, based on school size.

In [108]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

merge_table_size = merge_table.copy()
merge_table_size["School Size"] = pd.cut(merge_table_size["Per Student Budget"], size_bins, labels=group_names)
merge_table_size

,type,budget,total_students,Per Student Budget,Average Math Score,Average Reading Score,% Kids Passing Math,% Kids Passing Reading,% Overall Passing Rate,School Size
school_name,,,,,,,,,,
Huang High School,District,1910635,2917,655.0,76.629414,81.182722,65.683922,81.316421,73.500171,Small (<1000)
Figueroa High School,District,1884411,2949,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,Small (<1000)
Shelton High School,Charter,1056600,1761,600.0,83.359455,83.725724,93.867121,95.854628,94.860875,Small (<1000)
Hernandez High School,District,3022020,4635,652.0,77.289752,80.934412,66.752967,80.862999,73.807983,Small (<1000)
Griffin High School,Charter,917500,1468,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,Small (<1000)
Wilson High School,Charter,1319574,2283,578.0,83.274201,83.989488,93.867718,96.539641,95.203679,Small (<1000)
Cabrera High School,Charter,1081356,1858,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,Small (<1000)
Bailey High School,District,3124928,4976,628.0,77.048432,81.033963,66.680064,81.933280,74.306672,Small (<1000)
Holden High School,Charter,248087,427,581.0,83.803279,83.814988,92.505855,96.252927,94.379391,Small (<1000)
Pena High School,Charter,585858,962,609.0,83.839917,84.044699,94.594595,95.945946,95.270270,Small (<1000)
Wright High School,Charter,1049400,1800,583.0,83.682222,83.955000,93.333333,96.611111,94.972222,Small (<1000)
Rodriguez High School,District,2547363,3999,637.0,76.842711,80.744686,66.366592,80.220055,73.293323,Small (<1000)
Johnson High School,District,3094650,4761,650.0,77.072464,80.966394,66.057551,81.222432,73.639992,Small (<1000)
Ford High School,District,1763916,2739,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,Small (<1000)
Thomas High School,Charter,1043130,1635,638.0,83.418349,83.848930,93.272171,97.308869,95.290520,Small (<1000)

## Scores by School Type

* Perform the same operations as above, based on school type.

In [109]:
merge_table_type = merge_table.copy()
merge_table_type = merge_table.sort_values(by=['type'])
merge_table_type

,type,budget,total_students,Per Student Budget,Average Math Score,Average Reading Score,% Kids Passing Math,% Kids Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Shelton High School,Charter,1056600,1761,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Griffin High School,Charter,917500,1468,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,1319574,2283,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Cabrera High School,Charter,1081356,1858,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Holden High School,Charter,248087,427,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Pena High School,Charter,585858,962,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Wright High School,Charter,1049400,1800,583.0,83.682222,83.955000,93.333333,96.611111,94.972222
Thomas High School,Charter,1043130,1635,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Huang High School,District,1910635,2917,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Figueroa High School,District,1884411,2949,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Hernandez High School,District,3022020,4635,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Bailey High School,District,3124928,4976,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Rodriguez High School,District,2547363,3999,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Johnson High School,District,3094650,4761,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,1763916,2739,644.0,77.102592,80.746258,68.309602,79.299014,73.804308