In [2]:
# Import Dependencies
import pandas as pd

In [3]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "Resources/ted_talks.csv"
ted_df = pd.read_csv(csv_path)

ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869

In [7]:
# Figure out the minimum and maximum views for a TED Talk
print("The minimum is " + str(ted_df["views"].min()))
print("The maximum is " + str(ted_df["views"].max()))

The minimum is 50443
The maximum is 47227110

In [58]:
import math
# Create bins in which to place values based upon TED Talk views

# Create labels for these bins

minbb = 50000
maxbb = 48000000

step = ((maxbb-minbb) / 5)
bins = []
names = []

for i in range(0,6):
    bins.append(math.trunc(minbb + (i * step)))

for i in range (0,5):
    names.append(str(i) + " STARS")

print(bins)
print(names)
print(len(bins))
print(len(names))

[50000, 9640000, 19230000, 28820000, 38410000, 48000000]
['0 STARS', '1 STARS', '2 STARS', '3 STARS', '4 STARS']
6
5

In [59]:
# Slice the data and place it into bins
ted_df["View Score Summary"] = pd.cut(ted_df["views"], bins, labels=names)
ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views,View Score Summary
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110,4 STARS
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520,0 STARS
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292,0 STARS
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550,0 STARS
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869,1 STARS

In [72]:
# Place the data series into a new column inside of the DataFrame

# Creating a group based off of the bins
ted_dff = ted_df.groupby("View Score Summary")
ted_dff.head()

,comments,description,duration,event,languages,main_speaker,name,title,views,View Score Summary
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110,4 STARS
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520,0 STARS
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292,0 STARS
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550,0 STARS
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869,1 STARS
5,672,"Tony Robbins discusses the ""invisible forces"" ...",1305,TED2006,36,Tony Robbins,Tony Robbins: Why we do what we do,Why we do what we do,20685401,2 STARS
6,919,When two young Mormon missionaries knock on Ju...,992,TED2006,31,Julia Sweeney,Julia Sweeney: Letting go of God,Letting go of God,3769987,0 STARS
7,46,Architect Joshua Prince-Ramus takes the audien...,1198,TED2006,19,Joshua Prince-Ramus,Joshua Prince-Ramus: Behind the design of Seat...,Behind the design of Seattle's library,967741,0 STARS
29,970,"Dan Gilbert, author of ""Stumbling on Happiness...",1276,TED2004,43,Dan Gilbert,Dan Gilbert: The surprising science of happiness,The surprising science of happiness,14689301,1 STARS
30,991,Psychologist Barry Schwartz takes aim at a cen...,1177,TEDGlobal 2005,45,Barry Schwartz,Barry Schwartz: The paradox of choice,The paradox of choice,10000702,1 STARS
47,578,Why do people succeed? Is it because they're s...,210,TED2005,66,Richard St. John,Richard St. John: 8 secrets of success,8 secrets of success,10841210,1 STARS
176,554,David Gallo shows jaw-dropping footage of amaz...,327,TED2007,47,David Gallo,David Gallo: Underwater astonishments,Underwater astonishments,13926113,1 STARS
201,2877,Jill Bolte Taylor got a research opportunity f...,1099,TED2008,49,Jill Bolte Taylor,Jill Bolte Taylor: My stroke of insight,My stroke of insight,21190883,2 STARS
452,354,"""Bonk"" author Mary Roach delves into obscure s...",1003,TED2009,37,Mary Roach,Mary Roach: 10 things you didn't know about or...,10 things you didn't know about orgasm,22270883,2 STARS
677,1930,Simon Sinek has a simple but powerful model fo...,1084,TEDxPuget Sound,45,Simon Sinek,Simon Sinek: How great leaders inspire action,How great leaders inspire action,34309432,3 STARS
837,1927,Brené Brown studies human connection -- our ab...,1219,TEDxHouston,52,Brené Brown,Brené Brown: The power of vulnerability,The power of vulnerability,31168150,3 STARS
1346,2290,"Body language affects how others see us, but i...",1262,TEDGlobal 2012,51,Amy Cuddy,Amy Cuddy: Your body language may shape who yo...,Your body language may shape who you are,43155405,4 STARS
1416,846,Cameron Russell admits she won “a genetic lott...,577,TEDxMidAtlantic,43,Cameron Russell,Cameron Russell: Looks aren't everything. Beli...,"Looks aren't everything. Believe me, I'm a model.",19787465,2 STARS
1776,297,"Have you ever felt like you're talking, but no...",598,TEDGlobal 2013,45,Julian Treasure,Julian Treasure: How to speak so that people w...,How to speak so that people want to listen,21594632,2 STARS

In [70]:
# Create a GroupBy object based upon "View Group"

# Find how many rows fall into each bin
ted_dff["View Score Summary"].value_counts()
ted_dff["View Score Summary"].describe()

# Get the average of each column within the GroupBy object

AttributeError: Cannot access callable attribute 'groupby' of 'DataFrameGroupBy' objects, try using the 'apply' method